<h1>Albums Search</h1>
<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <td>
      <strong>Title</strong>
    </td>
    <td>
      <strong>Year</strong>
    </td>
    <td>
    <strong>Artist</strong>
    </td>
  </tr>
  <% @albums.each do |album| %>
    <tr>
      <td>
        <%= link_to album.title, album_path(album) %>
      </td>
      <td>
        <%= album.year %>
      </td>
      <td>
      <%= album.artist %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
