<h1>Albums Search</h1>

<ul>
  <% @albums.each do |album| %>
    <li>
      <h3>
        <%= link_to album.title, controller: "albums", action: "show", id: album._id%>
      </h3>
    </li>
  <% end %>
</ul>
