<%= form_for @album do |f| %>
  <div class="form-group">
    <label for="formGroupTitleInput">Title</label>
    <input type="text" class="form-control" id="formGroupTitleInput">
  </div>
  <div class="form-group">
    <label for="formGroupYearInput">Year</label>
    <input type="text" class="form-control" id="formGroupYearInput">
    <small id="formGroupYearInputHelp" class="form-text text-muted">Please use yyyy format</small>
  </div>
  <div class="form-group">
    <label for="formGroupArtistInput">Artist</label>
    <input type="text" class="form-control" id="formGroupArtistInput">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-outline-success my-2 my-sm-0" id="formGroupSubmitButton" value="Save">
  </div>
<% end %>



