<h1>Albums</h1>

<ul>
  <% @albums.each do |album| %>
    <li>
      <h3>
        <%= album.title %>
      </h3>
      <p>
        <%= album.year %>
      </p>
      <p>
        <%= album.artist %>
      </p>
    </li>
  <% end -%>
</ul>
<%= link_to 'New Album', new_album_path %>
